## 💻 Tecnologias utilizadas no projeto

- [ChatGPT](https://chat.openai.com/) 
- [Gemini] (https://gemini.google.com/)
- [LeonardoAI](https://app.leonardo.ai/)
- [Capcut](https://www.capcut.com/)

- Roteiro e Conteúdo gerados via ChatGPT e Gemini.
- Ativos Visuais (Capa/Imagens) gerados por Leonardo.ai.
- Voz e Edição de Áudio geradas/processadas no CapCut.
